
/* toutes les pages */

@font-face {
	font-family: 'Wallpoet_Regular';
	src: url(/police/goldenline/fonts/Wallpoet_Regular.ttf) format(truetype)
}

.page {
  padding: 0;
  margin: 0;
  background-color: rgb(54, 54, 54);
}

header {height: 150px;
}

nav.menu-nav {
    font-family: 'Wallpoet_Regular';
    text-align: center;
}

nav.menu-nav ul li{
    list-style-type: none;
    display: inline-block;
    width: 130px;
    padding:5px 10px;
    border-right-color: #F3A83C;
    border-bottom-color: #F3A83C;
  }

nav.menu-nav ul li.bouton a{
    color: #F3A83C;
    text-decoration: none;
  }

nav.menu-nav ul li.bouton {
    padding-top: 20px;  
}

nav.menu-nav ul li.bouton:hover{
  width: 150px;
  text-align: center;
  padding:5px 10px;
  border-radius: 0 0 15px 0;
  background-color: rgb(102, 102, 102);
  transition: 0.3s;
  border-right: solid 2px;
  border-bottom: solid 1px;
  border-right-color: #F3A83C;
  border-bottom-color: #F3A83C;
  vertical-align: center;
}

footer {
  padding: 0 0 0 10px;
  font-size: 10px;
  color: #F3A83C;
}

/* index.html */
.Connexion {
  position: relative;
  height: 50vh;
}

.centered-element {
  border: solid 1px;
  border-radius: 30px;
  text-align: center;
  height: 350px;
  width: 500px;
  margin: 15vh auto;
}

/* Acceuil */


/* Graphiques */


/* Exporter */