/* app */
.Connexion {
    color: #F3A83C;
    font-family: 'Wallpoet_Regular';
    position: relative;
    height: 50vh;
  }
  
  .centered-element {
    border: solid 1px;
    border-radius: 30px;
    text-align: center;
    height: 350px;
    width: 500px;
    margin: 15vh auto;
  }
  
  body .Connexion p {font-family: none;
     color:black}
  
  body .Connexion input {
    width: 50%
  }
  
  body .Connexion button {
    border: 1px solid; margin: 5px 0;width: 40%
  }
  
  body main form{
    font-size: 20px;
  }
  
  /* HomePage */
  
  @font-face {
      font-family: 'Wallpoet_Regular';
      src: url(/public/goldenline/fonts/Wallpoet_Regular.ttf) format(truetype)
  }
  
  body {background-color: rgb(54, 54, 54);
  }
  
  #logoheader{
    display:inline-block;
  }
  
  #logoheader img{
    margin-top :5px;
    margin-left :5px;
  }
  nav.menu-nav {
      font-family: 'Wallpoet_Regular';
      text-align: center;
      display:inline-block;
      vertical-align:top; 
      margin: 20px;
  }
  
  nav.menu-nav ul li{
      list-style-type: none;
      display: inline-block;
      width: 130px;
      padding:5px 10px;
      border-right-color: #F3A83C;
      border-bottom-color: #F3A83C;
      font-size: 20px;
    }
  
  nav.menu-nav ul li.bouton {
      color: #F3A83C;
      text-decoration: none;
    }
  
  nav.menu-nav ul li.bouton {
      margin: 1vh;  
  }
  
  nav.menu-nav ul li.bouton:hover{
    width: 150px;
    margin: 0 10px 0 20px;
    text-align: center;
    padding:5px 10px;
    border-radius: 0 0 15px 0;
    background-color: rgb(102, 102, 102);
    transition: 0.3s;
    border-right: solid 2px;
    border-bottom: solid 1px;
    border-right-color: #F3A83C;
    border-bottom-color: #F3A83C;
    vertical-align: center;
  }
  
  footer {
    padding: 0 0 0 10px;
    font-size: 10px;
    color: #F3A83C;
  }
  
  /* ZoneTravail */
